
{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<section class="page-header">

<h1>📊 Admin Dashboard</h1>

<p>Website activity</p>

</section>

<section class="section">

<h2>🔗 Tool Clicks</h2>

<div class="cards">

{% for tool,count in clicks %}

<div class="card">

<h3>{{ tool }}</h3>

<p>
Clicks: <strong>{{ count }}</strong>
</p>

</div>

{% else %}

<p>এখনো কোনো click নেই।</p>

{% endfor %}

</div>


<h2 style="margin-top:50px;">
📩 Messages
</h2>

{% for name,email,message,date in messages %}

<div class="card" style="margin-top:15px;">

<h3>{{ name }}</h3>

<p>{{ email }}</p>

<p>{{ message }}</p>

<small>{{ date }}</small>

</div>

{% else %}

<p>কোনো message নেই।</p>

{% endfor %}

</section>

{% endblock %}
